<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>

<body>
<h1>角色管理-使用者</h1>
<h3>部門</h3>
<label><input type="checkbox" name="department" value="IT">IT</label>
<label><input type="checkbox" name="department" value="FET">FET</label>
<label><input type="checkbox" name="department" value="BBB">BBB</label>
<br/>
<label><input type="checkbox" name="department" value="BU">BU</label>
<label><input type="checkbox" name="department" value="AAA">AAA</label>
<label><input type="checkbox" name="department" value="CCC">CCC</label>
<br/>
<h3>用戶名稱</h3>
<input type="text" id="inputUserName" style="width:300px;">
<br/><br/>
<select size="12" id="selectUser" style="width:300px;">
	<option value="">請選擇</option>
</select>
</body>
<script src="js/jquery-1.9.1.min.js"></script>
<script>
var userData = [{
	name:'Roy',
	department:'FET'
},{
	name:'Melen',
	department:'FET'
},{
	name:'Yang',
	department:'FET'
},{
	name:'Renian',
	department:'FET'
},{
	name:'Gary',
	department:'IT'
},{
	name:'Sky',
	department:'IT'
},{
	name:'Lydia',
	department:'BU'
}];

function refresh(){
	var selectDepartment = $("[name='department']:checked");
	var queryDepartment = [];
	if(selectDepartment.length > 0){
		for(var i in userData){
			var user = userData[i];
			for(var j = 0; j < selectDepartment.length; j++){
				var department = $(selectDepartment[j]).val();
				if(department == user.department){
					queryDepartment.push(user);
				}
			}
			refreshSelectUser(queryDepartment);
		}
	}else{
		queryDepartment = userData.concat();
	}
	var queryUserName = [];
	var inputUserName = $("#inputUserName").val();
	if($.trim(inputUserName) != ""){
		for(var i in queryDepartment){
			var user = queryDepartment[i];
			if(user.name.toLowerCase().indexOf(inputUserName.toLowerCase()) > -1){
				queryUserName.push(user);
			}
		}
	}else{
		queryUserName = queryDepartment.concat();
	}
	refreshSelectUser(queryUserName);
}
function refreshSelectUser(datas){
	var selectUser = $("#selectUser");
		selectUser.empty();
		for(var i in datas){
		var user = datas[i];
			var option = $("<option></option>");
			option.text(user.name).val(user.name);
			selectUser.append(option);
		}
}
$("[name='department']").change(refresh);
$("#inputUserName").keyup(refresh);
$(refresh);
</script>
</html>